{% extends "base.html" %}

{% block title %}List of things to review{% endblock title %}

{% block content %}

{% for item in item_list %}
<div class="mt-7">
    <div class="flex flex-row flex-nowrap items-center gap-4 mt-2 mb-4">
        <a class="text-2xl font-semibold" href="/item/{{ item.id }}">{{ item.name }}</a>
        <span class="text-sm bg-gray-300 font-semibold rounded-xl px-2 py-1">{{ item.type }}</span>
    </div>

    <div class="flex flex-row gap-4">
        <div class="w-96 h-64">
            <a href="/item/{{ item.id }}">
                <img class="w-full h-full rounded-xl" src="{{ item.photo.url }}" alt="">
            </a>
        </div>
        <div class="w-2/3 flex flex-col">
            <div>
                {{ item.description }}
            </div>
            <div class="mt-4 flex items-center flex-row justify-between">
                <div class="font-bold ">
                    <span>Reviews:</span>
                    <span>{{ item.review_set.count }}</span>
                </div>
                <div class="">
                    <button class="bg-blue-600 hover:bg-blue-600/80 px-4 py-3 rounded-lg text-gray-50 font-medium"
                        type="submit">Write Review</button>
                </div>
            </div>
        </div>

    </div>

    <hr class="border-b border-gray-200 mt-8" />
</div>
{% endfor %}
{% endblock content %}